 <!--@model AlliedTimbers.Models.RegisterViewModel 
 @{ 
     ViewBag.Title = "Register"; 
     Layout = null; 
 } 
 
 <!DOCTYPE html> 
 <html lang="en"> 
 <head>--> 
     <!-- Required meta tags --> 
     <!--<meta charset="utf-8"> 
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
     <title>Register - AlliedTimbers Finance</title> 
 
     <link rel="stylesheet" href="/Content/vendors/iconfonts/font-awesome/css/all.min.css"> 
     <link rel="stylesheet" href="/Content/vendors/css/vendor.bundle.base.css"> 
     <link rel="stylesheet" href="/Content/vendors/css/vendor.bundle.addons.css"> 
     <link rel="icon" type="image/png" href="/Content/assets/images/money_mart.png"/> 
 
     <link rel="stylesheet" href="/Content/Site.css"> 
     <style> 
         .btn-primary, .navbar.default-layout-navbar.navbar-primary .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .btn-primary, .wizard > .actions a { 
             background-color: #2FA948; 
             border-color: #2FA948; 
         } 
     </style> 
 </head> 
 
 <body>
     <div class="container-scroller">
         <div class="container-fluid page-body-wrapper full-page-wrapper">
             <div class="content-wrapper d-flex align-items-center auth">
                 <div class="row w-100">
                     <div class="col-lg-6 mx-auto">
                         <div class="auth-form-light text-left p-5">
                             <div style="text-align:center;" class="brand-logo">
                                 <img src="~/Content/assets/images/cropped-money_mart.png"
                                      alt="logo" />
                             </div>

                             <h4 style="text-align:center">Register to continue.</h4>
                             @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                             {
                                 @Html.AntiForgeryToken()
                                 <hr />
                                 @Html.ValidationSummary("", new { @class = "text-danger" })
                                 <div class="row mt-3">
                                     @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                                     <div class="col-md-10">
                                         @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                     </div>
                                 </div>
                                 <div class="row mt-3">
                                     @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                                     <div class="col-md-10">
                                         @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                     </div>
                                 </div>
                                 <div class="row mt-3">
                                     @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                                     <div class="col-md-10">
                                         @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="offset-md-2 col-md-10 ">
                                         <input type="submit" value="Register" class="btn  btn-outline-warning  font-weight-medium auth-form-btn" />
                                     </div>
                                 </div>
                             }


                         </div>

                     </div>

                 </div>

             </div>

         </div>

     </div>
     <script src="/Content/vendors/js/vendor.bundle.base.js"></script>
     <script src="/Content/vendors/js/vendor.bundle.addons.js"></script>
 </body> 
 </html>--> 
