﻿@model AlliedTimbers.Models.ProductInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Create", "ProductInfo", FormMethod.Post, new
                        {
                            enctype = "multipart/form-data"
                        }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Create Product Info</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.FilePath, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FilePath, new { @class = "form-control", type = "file" })
                                        @if (Model != null && !string.IsNullOrEmpty(Model.FilePath))
                                        {
                                            @Html.HiddenFor(model => model.FilePath)
                                            <a class="btn btn-primary btn-block" href="@Model.FilePath" target="_blank">
                                                <i class="mdi mdi-file-pdf"></i> View Current File
                                            </a>
                                        }
                                        @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    @Html.HiddenFor(model => model.IsChecked)
                               </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-outline-warning" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button onclick="window.location.href='@Url.Action("Index", "ProductInfo" )'"
                                                    type="button" class="btn btn-info">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}