@model IEnumerable<AlliedTimbers.Models.ProductInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                Product Information
            </h3>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-warning" })

                </ol>
            </nav>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <span style="display: inline-flex">
                                                <button onclick="window.location.href =
                                                 '@Url.Action("Details", "ProductInfo", new { id = item.Id })' "
                                                        type="button" class="btn btn-info btn-sm mr-2">
                                                    Details
                                                </button>

                                                <button onclick="window.location.href =
                                            '@Url.Action("Edit", "ProductInfo", new { id = item.Id })' "
                                                        type="button" class="btn btn-outline-primary btn-sm mr-2">
                                                    Edit
                                                </button>

                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal-@item.Id">
                                                    Delete
                                                </button>
                                            </span>
                                            <!-- Modal HTML -->
                                            <div id="myModal-@item.Id" class="modal fade" tabindex="-1" role="dialog">
                                                <div class="modal-dialog modal-confirm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <div class="icon-box">
                                                                <i class="material-icons">&#xE5CD;</i>
                                                            </div>
                                                            <h4 class="modal-title">Are you sure?</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Do you really want to delete these records? This process cannot be undone.</p>
                                                        </div>
                                                        <div class="modal-footer">

                                                            <form method="post" action="@Url.Action("Delete", "ProductInfo", new { id = item.Id }) ">
                                                                @Html.AntiForgeryToken()
                                                                <button type="submit" class="btn btn-danger"> Delete</button>
                                                            </form>

                                                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="/Content/js/data-table.js"></script>
}
