@model List<AlliedTimbers.Models.Event>

@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Events</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-warning" })
                </ol>
            </nav>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Venue</th>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var product in Model)
                            {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Description</td>
                                <td>@product.Venue</td>
                                <td>@product.StartDate.ToString("dd'/'MM'/'yyyy")</td>
                                <td>@product.EndDate.ToString("dd'/'MM'/'yyyy")</td>
                                <td>@product.Time</td>
                                <td>
                                            <span style="display: inline-flex">
                                                <button onclick="window.location.href = '@Url.Action("Edit", "Events", new { id = product.Id })'" type="button" class="btn btn-outline-primary btn-sm mr-2">
                                                    Edit
                                                </button>
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal-@product.Id">
                                                    Delete
                                                </button>
                                            </span>

                                    <!-- Modal HTML -->
                                    <div id="myModal-@product.Id" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="icon-box">
                                                        <i class="material-icons">&#xE5CD;</i>
                                                    </div>
                                                    <h4 class="modal-title">Are you sure?</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want to delete this record? This process cannot be undone.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" action="@Url.Action("Delete", "Events", new { id = product.Id })">
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script src="/Content/js/data-table.js"></script>
}
